<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Event Categories</title>
</head>
<body>
    <h1>Event Categories</h1>
    <a href="/eventCategory/create">Create New Category</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>